<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
         <!--https://stackoverflow.com/questions/436411/where-should-i-put-script-tags-in-html-markup -->
        
        <title>my CRYPTO</title>
        
    </head>
    <body>
        <header>
            <div class="row">
               <h3><strong>my Crypto</strong></h3> 
            </div>
        </header>
        <!--https://stackoverflow.com/questions/6939864/what-is-the-difference-between-section-and-div-->
        <!-- TODO: Estudiar como sería caragr tabla usando Jinja2 pros y cons-->
        <section class="container">
            <h3><strong>LISTA MOVIMIENTOS</strong></h3>  
            <table class="movimientos">      
                <thead>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Origen</th>
                    <th>Importe</th>
                    <th>Destino</th>
                    <th>Importe</th>
                </thead>
                <tbody id="tbbody-movimientos" >
                </tbody>	
            </table>  
        </section>       
        
        <footer>© 2022. Todos los derechos reservados

        </footer>

        <script src="{{ url_for('static', filename='js/app.js')}}"></script> 
    
    </body>
</html>