<!DOCTYPE html>


<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
    
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    <title>my CRYPTO</title>
    <link rel="icon" type="image/x-icon" href="static\img\favicon.ico">
</head>

<body>
    <header>
        <div class="row">
            <h3><strong>my Crypto</strong></h3>
        </div>
    </header>
    <section id="lista_ppal" >
        <h3><strong>LISTA MOVIMIENTOS</strong></h3>
        <div id="tableFixHead">
            <table class="movimientos">
                <thead>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Origen</th>
                    <th>Importe</th>
                    <th>Destino</th>
                    <th>Importe</th>
                </thead>
                <tbody id="tbbody-movimientos">
                    <script>
                        listaMovimientos();
                    </script>
                </tbody>
            </table>
        </div>
    </section>
    <form id="formulario">
        <h3><strong>NUEVO MOVIMIENTO</strong></h3>
        <fieldset>
            <input type="datetime" name="fecha_hora" id="fecha_hora" hidden>
            <input type="text" id="id" hidden>
            <label for="moneda_from"> Origen: <span class="required">*</span> </label>
            <select name="moneda" id="moneda_origen">
                <option value="1" selected disabled >--selecciona una opción </option>
                <option value="EUR">EUR</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="BCH">BCH</option>
                <option value="BNB">BNB</option>
                <option value="LINK">LINK</option>
                <option value="LUNA">LUNA</option>
                <option value="ATOM">ATOM</option>
                <option value="SOL">SOL</option>
                <option value="USDT">USDT</option>
            </select>
            <label for="moneda_from"> Importe: <span class="required">*</span></label>
            <input type="number" step="any" placeholder="--introduzca el importe" id="cantidad_origen">
            <label for="moneda_to"> Destino: <span class="required">*</span></label>
            <select name="moneda" id="moneda_destino" >
                <option value="1" selected disabled>--selecciona una opción </option>
                <option value="EUR">EUR</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="BCH">BCH</option>
                <option value="BNB">BNB</option>
                <option value="LINK">LINK</option>
                <option value="LUNA">LUNA</option>
                <option value="ATOM">ATOM</option>
                <option value="SOL">SOL</option>
                <option value="USDT">USDT</option>
            </select>
            <button class="button" type="button" id="boton_calcular" onclick="calcular_tasa_cambio()">
                <p>Calcular</p>
                <img src="static\img\outline_calculate_black_24dp.png">
            </button>
            <label for="tasa_cambio"> Tasa de cambio actual: </label>

            <input type="number" placeholder="--valor actual" id="tasa" disabled>

            <label for="moneda_to"> Importe: </label>
            <input type="number" placeholder="--campo calculado" id="cantidad_destino" disabled>


            <input class="button-primary" type="reset" id="boton_cancelar" value="Cancelar" onclick="cancelar()">
            <input class="button-primary" type="submit" onclick="confirmar()" id="boton_confirmar" value="Confirmar">
            <input type="hidden" name="datetime" id="datetime">

        </fieldset>
    </form>
    <section id="status">
        <h3><strong>STATUS</strong></h3>
        <fieldset> Invertido: (en €)</label>
            <input type="number" placeholder="--€" id="eur_invertidos" disabled>
            <fieldset>Valor de mi portfolio: (en €) </label>
                <input type="number" placeholder="--€" id="valor_criptos_eur" disabled>
                <fieldset>Resultado: (en €) </label>
                    <input type="number" placeholder="--€" id="resultado" disabled>

                    <button class="button" onclick="carga_status()">
                        <p>Refrescar</p>
                        <img src="static\img\outline_refresh_black_24dp.png">
                    </button>

                </fieldset>

    </section>
</body>

<footer>© 2022. Todos los derechos reservados</footer>

</html>
