header {
    padding-left: 35px;
   
    background-color:#9b4dca;
    display: flex;
    position: relative;
    color: white; 
 }

 body {
     padding-left: 30px;
 }

.required {
    color: #e9405c;
}

.movimientos {
    display: block;
    overflow-y: auto;
    height: 320px;
}


h3{
    padding-top: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    
}
.button img{
    height: 24px;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
    filter: brightness(0) invert(1);
}

.error-message {
    color: #d80000;
	background-color: #ffbaba;
    border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;

}